{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    {# <img class="card-img rounded-0 img-fluid"  src="{{ vich_uploader_asset(product, 'imageFile')}}"> #}
                     <img class="card-img rounded-0 img-fluid"  src="{{ vich_uploader_asset(product, 'imageFile')}}">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="h3 text-decoration-none">{{product.name}}</h3>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li class="pt-2">
                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>{{product.description}}</li>
                    </ul>
                    <p class="text-center mb-0">{{ (product.priceHT / 100)|number_format(2, ',', '.') }} €</p>
                      <ul class="list-unstyled">
                            <li><a class="btn btn-success text-white mt-2" href="{{ path('cart_add', {'id': product.id}) }}"><i class="fas fa-cart-plus"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>

{% endblock %}
